body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Takes the entire viewport height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin); /* Reduced font size */
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: calc(8px + 0.8vmin); /* Smaller font size for links */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff; /* Ensure visibility against the background */
}
